<div class="b-search__main-type">
  <div class="col-xs-12 col-md-2 s-noLeftPadding">
    <h4>Select vehicle type</h4>
  </div>
  <div class="col-xs-12 col-md-10">
    <div class="row">
      <div class="col-xs-2">
        <input id="type1" type="radio" name="type" />
        <label for="type1" class="b-search__main-type-svg" pickup>
        </label>
        <h5><label for="type1">Pickup</label></h5>
      </div>
      <div class="col-xs-2">
        <input id="type2" type="radio" name="type" />
        <label for="type2" class="b-search__main-type-svg" suv>
        </label>
        <h5><label for="type2">Suv</label></h5>
      </div>
      <div class="col-xs-2">
        <input id="type3" type="radio" name="type" />
        <label for="type3" class="b-search__main-type-svg" coupe>
        </label>
        <h5><label for="type3">Coupe</label></h5>
      </div>
      <div class="col-xs-2">
        <input id="type4" type="radio" name="type" />
        <label for="type4" class="b-search__main-type-svg" convertible>
        </label>
        <h5><label for="type4">Convertible</label></h5>
      </div>
      <div class="col-xs-2">
        <input id="type5" type="radio" name="type" />
        <label for="type5" class="b-search__main-type-svg" sedan>
        </label>
        <h5><label for="type5">Sedan</label></h5>
      </div>
      <div class="col-xs-2">
        <input id="type6" type="radio" name="type" />
        <label for="type6" class="b-search__main-type-svg" minicar>
        </label>
        <h5><label for="type6">Minicar</label></h5>
      </div>
    </div>
  </div>
</div>
