<section class="b-contacts s-shadow">
  <div class="container">
    <form id="accountForm" novalidate class="s-form">
      <div class="row">
        <div class="col-xs-6">
          <div class="b-contacts__form">
            <header class="b-contacts__form-header s-lineDownLeft">
              <h2 class="s-titleDet">Account information</h2>
            </header>
            <p>Manage your account information.</p>
            <input class="invalid" type="text" placeholder="NAME" value="" name="user-name" id="user-name" />
            <p class="error-message">This field is required.</p>
            <input type="text" placeholder=" SURNAME" value="" name="user-name" id="user-surname" />
            <input type="text" placeholder="EMAIL ADDRESS" value="" name="user-email" id="user-email" />
            <input type="text" placeholder="PHONE NO." value="" name="user-phone" id="user-phone" />
            <input type="text" placeholder="POST INDEX" value="" name="user-phone" id="user-post" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="b-password__form">
            <header class="b-contacts__form-header s-lineDownLeft">
              <h2 class="s-titleDet">Change password</h2>
            </header>
            <input type="password" placeholder="Old password" value="" name="user-name" id="old-password" />
            <input type="password" placeholder="EMAIL ADDRESS" value="" name="user-email" id="new-password" />
            <input type="password" placeholder="PHONE NO." value="" name="user-phone" id="confirm-password" />
            <button type="submit" class="btn m-btn disabled">SAVE<span class="fa fa-angle-right"></span></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section><!--b-contacts-->
