<header class="b-contacts__form-header s-lineDownLeft">
  <h2 class="s-titleDet">Sign up</h2>
</header>
<form id="contactForm" novalidate="" class="s-form">
  <input class="invalid" type="text" placeholder="EMAIL ADDRESS" value="" name="user-email" id="user-email">
  <p class="error-message">This field is required.</p>
  <input type="password" placeholder="PASSWORD" value="" name="user-password" id="user-password">
  <input type="password" placeholder="CONFIRM PASSWORD" value="" name="confirm-password" id="confirm-password">
  <div class="row form-links">
  </div>
  <div class="row form-links form-align">
    <div class="col-lg-6">
      <a routerLink="/sign-in">Already have an account?</a>
    </div>
    <div class="col-lg-6 text-right">
      <button type="submit" class="btn m-btn">SIGN UP<span class="fa fa-angle-right"></span></button>
    </div>
  </div>
</form>
