/* Select styles */

.select-box {
    position: relative;
    margin-bottom: 20px;
}

.select-box .ng-select-container {
    background: #f7f7f7;
    height: 46px;
    border-radius: 30px;
    line-height: 46px;
    padding: 0 25px;
    border: 1px solid #eeeeee;
    color: #444;
    text-align: center;
}

.select-box.white .ng-select-container {
    background: #ffffff;
}

.select-box .ng-select-container, input {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Open Sans',sans-serif;
    color: #444;
}

.select-box .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding: 0 25px;
}

.select-box, .ng-placeholder {
    color: #999;
}

.select-box .ng-dropdown-panel {
    left: 0;
}

.select-box .ng-dropdown-panel .ng-dropdown-panel-items {
    background-color: #ffffff;
    box-shadow: -5px 15px 30px rgba(0,0,0,0.08);
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
}

.select-box .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 10px 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.select-box .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    opacity: 0.6;
}

.select-box .arrow-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 30px;
    z-index: 1024;
}

.select-box .ng-select .ng-clear-wrapper {
    right: -17px;
    top: 3px;
}
