<div [class]="data.className">
  <app-page-header [data]="data"></app-page-header>

  <section class="b-what s-shadow m-home">
    <div class="container">
      <h3 class="s-titleBg">CUSTOMERS ARE IMPORTANT FOR US</h3><br />
      <h2 class="s-title">WHAT WE OFFERS</h2>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="b-world__item">
            <img class="img-responsive" src="assets/media/370x200/wolks.jpg" alt="wolks" />
            <div class="b-world__item-val">
              <span class="b-world__item-val-title">WE OFFER</span>
            </div>
            <h2>Low Prices, No Haggling</h2>
            <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequ
              sem velde metus imperdiet lacinia.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="b-world__item">
            <img class="img-responsive"  src="assets/media/370x200/mazda.jpg" alt="mazda" />
            <div class="b-world__item-val">
              <span class="b-world__item-val-title">WE ARE THE</span>
            </div>
            <h2>Largest Car Dealership</h2>
            <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequ
              sem velde metus imp         erdiet lacinia.</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="b-world__item">
            <img class="img-responsive"  src="assets/media/370x200/chevrolet.jpg" alt="chevrolet" />
            <div class="b-world__item-val">
              <span class="b-world__item-val-title">OUR CUSTOMERS GET</span>
            </div>
            <h2>Multipoint Safety Check</h2>
            <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequ
              sem velde metus imp         erdiet lacinia.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!--b-what-->

  <section class="b-more">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="b-more__why">
            <h2 class="s-title">WHY CHOOSE US</h2>
            <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus etyd nunc. Nunc consequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed do eiusmod.</p>
            <ul class="s-list">
              <li><span class="fa fa-check"></span>Donec facilisis velit eu est phasellus consequat quis nostrud</li>
              <li><span class="fa fa-check"></span>Aenean vitae quam. Vivamus et nunc nunc conseq</li>
              <li><span class="fa fa-check"></span>Sem vel metus imperdiet lacinia enean </li>
              <li><span class="fa fa-check"></span>Dapibus aliquam augue fusce eleifend quisque tels</li>
              <li><span class="fa fa-check"></span>Lorem ipsum dolor sit amet, consectetur </li>
              <li><span class="fa fa-check"></span>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Magna </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="b-more__info">
            <h2 class="s-title">MORE INFO</h2>
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Fair Price for Everyone
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Curabitur libero. Donec facilisis velit est. Phasellus consquat. Aenean vitae quam. Vivam
                  etl nunc. Nunc con sequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Large Number of Vehicles
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Curabitur libero. Donec facilisis velit est. Phasellus consquat. Aenean vitae quam. Vivam
                  etl nunc. Nunc con sequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
              </mat-expansion-panel>

              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Auto Loan Available
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Curabitur libero. Donec facilisis velit est. Phasellus consquat. Aenean vitae quam. Vivam
                  etl nunc. Nunc con sequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
              </mat-expansion-panel>

            </mat-accordion>

            <!--<div class="b-more__info-block">-->
              <!--<div class="b-more__info-block-title">Fair Price for Everyone<a class="j-more"><span class="fa fa-angle-left"></span></a></div>-->
              <!--<div class="b-more__info-block-inside j-inside">-->
                <!--<p>Curabitur libero. Donec facilisis velit est. Phasellus consquat. Aenean vitae quam. Vivam-->
                  <!--etl nunc. Nunc con sequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="b-more__info-block">-->
              <!--<div class="b-more__info-block-title">Large Number of Vehicles<a class="j-more"><span class="fa fa-angle-left"></span></a></div>-->
              <!--<div class="b-more__info-block-inside j-inside">-->
                <!--<p>Curabitur libero. Donec facilisis velit est. Phasellus consquat. Aenean vitae quam. Vivam-->
                  <!--etl nunc. Nunc con sequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="b-more__info-block">-->
              <!--<div class="b-more__info-block-title">Auto Loan Available<a class="j-more"><span class="fa fa-angle-left"></span></a></div>-->
              <!--<div class="b-more__info-block-inside j-inside">-->
                <!--<p>Curabitur libero. Donec facilisis velit est. Phasellus consquat. Aenean vitae quam. Vivam-->
                  <!--etl nunc. Nunc con sequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </section><!--b-more-->
</div>
