  <div class="row m-border">


    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="b-items__cell">
        <div class="b-items__cars-one-img">
          <img class='img-responsive' src="assets/media/260x230/chevroletTable.jpg" alt='chevrolet'/>
          <span class="b-items__cars-one-img-type m-premium">PREMIUM</span>
          <!--<span class="b-items__cars-one-img-type m-listing">NE LISTING</span>-->
        </div>
        <div class="b-items__cell-info">
          <div class="s-lineDownLeft b-items__cell-info-title">
            <h2 class=""><a href="detail.html">Chevrolet Silverado 1500</a></h2>
          </div>
          <p>Lorem ipsum dolor sit amet consec let radipisicing elit, sed do eiusmod  ...</p>
          <div>
            <div class="row m-smallPadding">
              <div class="col-xs-5">
                <span class="b-items__cars-one-info-title">Body Style:</span>
                <span class="b-items__cars-one-info-title">Mileage:</span>
                <span class="b-items__cars-one-info-title">Transmission:</span>
                <span class="b-items__cars-one-info-title">Specs:</span>
              </div>
              <div class="col-xs-7">
                <span class="b-items__cars-one-info-value">Sedan</span>
                <span class="b-items__cars-one-info-value">35,000 KM</span>
                <span class="b-items__cars-one-info-value">6-Speed Auto</span>
                <span class="b-items__cars-one-info-value">2-Passenger, 2-Door</span>
              </div>
            </div>
          </div>
          <h5 class="b-items__cell-info-price"><span>Price:</span>$29,415</h5>
        </div>
      </div>
    </div>


  </div>
