<header class="b-contacts__form-header s-lineDownLeft">
  <h2 class="s-titleDet">Reset password</h2>
</header>
<form id="contactForm" novalidate="" class="s-form">
  <div class="row form-links">
    <p class="form-hint">Enter your new password for your GEAR.AM account.</p>
  </div>
  <input type="password" placeholder="NEW PASSWORD" value="" name="user-password" id="user-password">
  <input type="password" placeholder="CONFIRM NEW PASSWORD" value="" name="confirm-password" id="confirm-password">
  <div class="row form-links form-align">
    <div class="col-lg-12 text-right">
      <button type="submit" class="btn m-btn">CHANGE PASSWORD<span class="fa fa-angle-right"></span></button>
    </div>
  </div>
</form>
