<header class="b-contacts__form-header s-lineDownLeft">
  <h2 class="s-titleDet">Reset password</h2>
</header>
<form id="reset-password-form" [formGroup]="resetPassForm" (ngSubmit)="resetPassword(resetPassForm.value)" novalidate class="s-form">
  <div class="row form-links">
    <p class="form-hint">Enter your new password for your GEAR.AM account.</p>
  </div>
  <div class="text-field">
    <input toggleErrClass [control]="resetPassForm.get('password')" [errClass]="'invalid'" formControlName="password" type="password" placeholder="NEW PASSWORD"
           name="password" id="current-password">
    <ng-container *ngFor="let error of validationMessages.password">
      <p class="error-message"
         *ngIf="this.resetPassForm.get('password').hasError(error.type) && this.resetPassForm.get('password').touched && this.resetPassForm.get('password').dirty || this.resetPassForm.get('password').pending">{{error.message | translate}}</p>
    </ng-container>
  </div>
  <div class="text-field">
    <input toggleErrClass [control]="resetPassForm.get('repeat_password')" [errClass]="'invalid'" formControlName="repeat_password" type="password" placeholder="CONFIRM NEW PASSWORD"
           name="password" id="confirm-password">
    <ng-container *ngFor="let error of validationMessages.password">
      <p class="error-message"
         *ngIf="this.resetPassForm.get('repeat_password').hasError(error.type) && this.resetPassForm.get('repeat_password').touched && this.resetPassForm.get('repeat_password').dirty || this.resetPassForm.get('repeat_password').pending">{{error.message | translate}}</p>
    </ng-container>
  </div>
  <div class="row form-links form-align">
    <div class="col-lg-12 text-right">
      <button type="submit" class="btn m-btn">CHANGE PASSWORD<span class="fa fa-angle-right"></span></button>
    </div>
  </div>
</form>
