<div [class]="data.className">
  <app-page-header [data]="data"></app-page-header>

  <div class="b-map">
    <div #gmap style="width:100%;height:400px"></div>
  </div><!--b-map-->

  <section class="b-contacts s-shadow">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="b-contacts__form">
            <header class="b-contacts__form-header s-lineDownLeft">
              <h2 class="s-titleDet">Contact Form</h2>
            </header>
            <p>Enter your comments through the form below, and our customer service professionals will contact you as soon as possible.</p>
            <div id="success"></div>
            <form id="contactForm" novalidate class="s-form">
                <!--SELECT COMPONENT-->
                <div class="select-box white">
                  <app-select
                          [items]="['Topic 1', 'Topic 2', 'Topic 3']"
                          [placehold]="'Select Topic'"
                  ></app-select>
                  <span class="fa fa-caret-down arrow-icon"></span>
                </div>
                <!--SELECT COMPONENT-->
              <div class="text-field">
                <input type="text" placeholder="YOUR NAME" value="" name="user-name" id="user-name" />
              </div>
              <div class="text-field">
                <input type="text" placeholder="EMAIL ADDRESS %" value="" name="user-email" id="user-email" />
              </div>
              <div class="text-field">
                <input type="text" placeholder="PHONE NO." value="" name="user-phone" id="user-phone" />
              </div>
              <div class="text-field">
                <textarea id="user-message" name="user-message" placeholder="COMMENT/SUGGESTIONS/FEEDBACK"></textarea>
              </div>
              <button type="submit" class="btn m-btn">SUBMIT NOW<span class="fa fa-angle-right"></span></button>
            </form>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="b-contacts__address-info">
            <h2 class="s-titleDet">contact info</h2>
            <address class="b-contacts__address-info-main">
              <div class="b-contacts__address-info-main-item">
                <span class="fa fa-home"></span>
                ADDRESS
                <p>202 W 7th St, Suite 233 Los Angeles, California 90014 USA</p>
              </div>
              <div class="b-contacts__address-info-main-item">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-xs-12">
                    <span class="fa fa-phone"></span>
                    PHONE
                  </div>
                  <div class="col-lg-9 col-md-8 col-xs-12">
                    <em>1-800- 624-5462</em>
                  </div>
                </div>
              </div>
              <div class="b-contacts__address-info-main-item">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-xs-12">
                    <span class="fa fa-fax"></span>
                    FAX
                  </div>
                  <div class="col-lg-9 col-md-8 col-xs-12">
                    <em>1-800- 624-5462</em>
                  </div>
                </div>
              </div>
              <div class="b-contacts__address-info-main-item">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-xs-12">
                    <span class="fa fa-envelope"></span>
                    EMAIL
                  </div>
                  <div class="col-lg-9 col-md-8 col-xs-12">
                    <em>info@domain.com</em>
                  </div>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
