<div class="row">
  <div class="col-xs-12 col-md-12 " id="advanced-options">
    <div class="m-advancedSelects">
      <div class="col-xs-4 mb-sm">
        <select name="select1">
          <option value="" selected="">Any Make</option>
        </select>
        <span class="fa fa-caret-down"></span>
        <p>MISSING MANUFACTURER?</p>
      </div>
      <div class="col-xs-4 mb-sm">
        <select name="select1">
          <option value="" selected="">Any Make</option>
        </select>
        <span class="fa fa-caret-down"></span>
        <p>MISSING MANUFACTURER?</p>
      </div>
      <div class="col-xs-4 s-submit mb-sm">
        <input type="text" placeholder="Enter " >
        <p>MISSING MANUFACTURER?</p>
      </div>
      <div class="col-xs-4 mb-sm s-submit">
        <input type="text" placeholder="Enter " >
        <p>MISSING MANUFACTURER?</p>
      </div>
      <div class="col-xs-4 mb-sm s-submit">
        <input type="text" placeholder="Enter " >
        <p>MISSING MANUFACTURER?</p>
      </div>
      <div class="col-xs-4 mb-sm s-submit">
        <input type="text" placeholder="Enter " >
        <p>MISSING MANUFACTURER?</p>
      </div>
      <div class="col-xs-4 mb-sm s-submit">
        <input type="text" placeholder="Enter " >
        <p>MISSING MANUFACTURER?</p>
      </div>
      <div class="col-xs-4 mb-sm">
        <select name="select1">
          <option value="" selected="">Any Make</option>
        </select>
        <span class="fa fa-caret-down"></span>
        <p>MISSING MANUFACTURER?</p>
      </div>
      <div class="col-xs-4 mb-sm s-submit">
        <input type="text" placeholder="Enter " >
        <p>MISSING MANUFACTURER?</p>
      </div>
      <div class="col-xs-4 mb-sm b-submit__main-element">
        <input type="checkbox" name="check1" id="check1">
        <label class="s-submitCheckLabel" for="check1"><span class="fa fa-check"></span></label>
        <label class="s-submitCheck" for="check1">Trip Computer</label>
      </div>
      <div class="col-xs-4 mb-sm b-submit__main-element">
        <input type="checkbox" name="check5" id="check2">
        <label class="s-submitCheckLabel" for="check2"><span class="fa fa-check"></span></label>
        <label class="s-submitCheck" for="check2">Side Airbags</label>
      </div>
      <div class="col-xs-4 mb-sm b-submit__main-element">
        <input type="checkbox" name="check5" id="check3">
        <label class="s-submitCheckLabel" for="check3"><span class="fa fa-check"></span></label>
        <label class="s-submitCheck" for="check3">Fog Lamps</label>
      </div>
    </div>
  </div>
</div>
