<header class="b-contacts__form-header s-lineDownLeft">
  <h2 class="s-titleDet">Forgot password?</h2>
</header>
<form id="contactForm" novalidate="" class="s-form">
  <input type="text" placeholder="EMAIL ADDRESS" value="" name="user-email" id="user-email">
  <div class="row form-links">
    <p class="form-hint">After you submit this form we'll send you an email with a link to update your password.</p>
  </div>
  <div class="row form-links form-align">
    <div class="col-lg-6">
      <a routerLink="/sign-in">Back</a>
    </div>
    <div class="col-lg-6 text-right">
      <button type="submit" class="btn m-btn">SEND<span class="fa fa-angle-right"></span></button>
    </div>
  </div>
</form>
