<section class="b-search">
  <div class="container">
    <form class="b-search__main s-submit">

      <div class="b-search__main-title">
        <h2>UNSURE WHICH VEHICLE YOU ARE LOOKING FOR? FIND IT HERE</h2>
      </div>

      <!--VEHICLE TYPE-->
      <app-vehicle-type></app-vehicle-type>
      <!--VEHICLE TYPE-->

      <div class="b-search__main-form">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="m-firstSelects">
              <div class="col-xs-4">
                <!--SELECT COMPONENT-->
                <ng-select
                  [items]="['car1', 'car2']"
                ></ng-select>
                <!--SELECT COMPONENT-->
                <span class="fa fa-caret-down"></span>
                <p>MISSING MANUFACTURER?</p>
              </div>
              <div class="col-xs-4">
                <select name="select2">
                  <option value="" selected="">Any Model</option>
                </select>
                <span class="fa fa-caret-down"></span>
                <p>MISSING MODEL?</p>
              </div>
              <div class="col-xs-4">
                <select name="select3">
                  <option value="" selected="">Generation</option>
                </select>
                <span class="fa fa-caret-down"></span>
                <p>Preferred generation</p>
              </div>
            </div>
            <div class="m-secondSelects b-search__main-form-range">
              <label>PRICE RANGE</label>
              <!--RANGE COMPONENT-->
              <app-range-slider></app-range-slider>
              <!--RANGE COMPONENT-->
            </div>
          </div>
          <div class="col-md-4 col-xs-12 text-left s-noPadding">
            <div class="b-search__main-form-range">
              <div class="col-xs-6">
                <select name="select4">
                  <option value="" selected="">Min Year</option>
                </select>
                <span class="fa fa-caret-down"></span>
              </div>
              <div class="col-xs-6">
                <select name="select5">
                  <option value="" selected="">Max Year</option>
                </select>
                <span class="fa fa-caret-down"></span>
              </div>
            </div>
            <div class="b-search__main-form-submit">
              <a id="drop-label" class="drop-label" (click)="toggleAdvancedSearchSection()">Advanced search</a>
              <button routerLink="/filter-list-view" class="btn m-btn">Search the Vehicle<span class="fa fa-angle-right"></span></button>
            </div>
          </div>

          <!--ADVANCED-SEARCH-->
          <app-advanced-search *ngIf="!isAdvancedSearchHidden"></app-advanced-search>
          <!--ADVANCED-SEARCH-->

        </div>
      </div>
    </form>
  </div>
</section><!--b-search-->
