<div>
  <div class="b-featured__item">
    <a href="detail.html">
      <img src="assets/media/186x113/mers.jpg" alt="mers" />
      <span class="m-premium">Premium</span>
    </a>
    <div class="b-featured__item-price">
      $184,900
    </div>
    <div class="clearfix"></div>
    <h5><a href="detail.html">MERCEDES-AMG GT / GT S</a></h5>
    <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>35,000 KM</div>
    <div class="b-featured__item-links">
      <a href="#">Used</a>
      <a href="#">2014</a>
      <a href="#">Manual</a>
      <a href="#">Orange</a>
      <a href="#">Petrol</a>
    </div>
  </div>
</div>
<!--<div>-->
  <!--<div class="b-featured__item">-->
    <!--<a href="detail.html">-->
      <!--<img src="assets/media/186x113/aston.jpg" alt="aston" />-->
      <!--<span class="m-leasing">LEASING AVAILABLE</span>-->
    <!--</a>-->
    <!--<div class="b-featured__item-price">-->
      <!--$101,025-->
    <!--</div>-->
    <!--<div class="clearfix"></div>-->
    <!--<h5><a href="detail.html">ASTON MARTIN VANTAGE</a></h5>-->
    <!--<div class="b-featured__item-count"><span class="fa fa-tachometer"></span>35,000 KM</div>-->
    <!--<div class="b-featured__item-links">-->
      <!--<a href="#">Used</a>-->
      <!--<a href="#">2014</a>-->
      <!--<a href="#">Manual</a>-->
      <!--<a href="#">Orange</a>-->
      <!--<a href="#">Petrol</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
