<div class="b-items">
  <div class="container">
    <div class="row d-flex justify-center">
      <div class="col-lg-9 col-sm-8 col-xs-12">
        <div class="b-items__cars">
          <div class="b-items__cars-one">
            <div class="b-items__cars-one-img">
              <img src="assets/media/237x202/toyota.jpg" alt='toyota'/>
              <span class="b-items__cars-one-img-type m-premium">PREMIUM</span>
            </div>
            <div class="b-items__cars-one-info">
              <div class="b-items__cars-one-info-header s-lineDownLeft">
                <h2>Toyota RAV4 Limited V6</h2>
              </div>
              <div class="row s-noRightMargin">
                <div class="col-md-9 col-xs-12">
                  <p>In a pickup market gone fancy, the Silverado sticks to its basic-truck recipe. The steering is accurate, and the Silverado</p>
                  <div class="m-width row m-smallPadding">
                    <div class="col-xs-6">
                      <div class="row m-smallPadding">
                        <div class="col-xs-6">
                          <span class="b-items__cars-one-info-title">Body Style:</span>
                          <span class="b-items__cars-one-info-title">Mileage:</span>
                          <span class="b-items__cars-one-info-title">Transmission:</span>
                        </div>
                        <div class="col-xs-6">
                          <span class="b-items__cars-one-info-value">Sedan</span>
                          <span class="b-items__cars-one-info-value">35,000 KM</span>
                          <span class="b-items__cars-one-info-value">6-Speed Auto</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="row m-smallPadding">
                        <div class="col-xs-4">
                          <span class="b-items__cars-one-info-title">Engine:</span>
                          <span class="b-items__cars-one-info-title">Color:</span>
                          <span class="b-items__cars-one-info-title">Specs:</span>
                        </div>
                        <div class="col-xs-8">
                          <span class="b-items__cars-one-info-value">DOHC 24-valve V-6</span>
                          <span class="b-items__cars-one-info-value">White</span>
                          <span class="b-items__cars-one-info-value">2-Passenger, 2-Door</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12">
                  <div class="b-items__cars-one-info-price">
                    <div class="pull-right">
                      <h3>Price:</h3>
                      <h4>$29,415</h4>
                    </div>
                    <a href="detail.html" class="btn m-btn">VIEW DETAILS<span class="fa fa-angle-right"></span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-right manage-actions">
                <ul class="actions">
                  <li>
                    <a class="btn m-btn m-infoBtn w-icon">EDIT DETAILS<span class="icon-edit"></span></a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#delete-add"><span class="icon-delete delete"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="b-items__cars-one">
              <div class="b-items__cars-one-img">
                <img src="assets/media/237x202/maxima.jpg" alt='maxima'/>
                <span class="b-items__cars-one-img-type m-leasing">LEASING AVAILABLE</span>
              </div>
              <div class="b-items__cars-one-info">
                <div class="b-items__cars-one-info-header s-lineDownLeft">
                  <h2>Toyota RAV4 Limited V6</h2>
                </div>
                <div class="row s-noRightMargin">
                  <div class="col-md-9 col-xs-12">
                    <p>In a pickup market gone fancy, the Silverado sticks to its basic-truck recipe. The steering is accurate, and the Silverado</p>
                    <div class="row m-smallPadding m-width">
                      <div class="col-xs-6">
                        <div class="row m-smallPadding">
                          <div class="col-xs-6">
                            <span class="b-items__cars-one-info-title">Body Style:</span>
                            <span class="b-items__cars-one-info-title">Mileage:</span>
                            <span class="b-items__cars-one-info-title">Transmission:</span>
                          </div>
                          <div class="col-xs-6">
                            <span class="b-items__cars-one-info-value">Coupe</span>
                            <span class="b-items__cars-one-info-value">0,000 KM</span>
                            <span class="b-items__cars-one-info-value">6-Speed Manual</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="row m-smallPadding">
                          <div class="col-xs-4">
                            <span class="b-items__cars-one-info-title">Engine:</span>
                            <span class="b-items__cars-one-info-title">Color:</span>
                            <span class="b-items__cars-one-info-title">Specs:</span>
                          </div>
                          <div class="col-xs-8">
                            <span class="b-items__cars-one-info-value">DOHC inline-6</span>
                            <span class="b-items__cars-one-info-value">Black</span>
                            <span class="b-items__cars-one-info-value">4-Passenger, 2-Door</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <div class="b-items__cars-one-info-price">
                      <div class="pull-right">
                        <h3>Price:</h3>
                        <h4>$63,325</h4>
                      </div>
                      <a href="detail.html" class="btn m-btn">VIEW DETAILS<span class="fa fa-angle-right"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-right manage-actions">
                  <ul class="actions">
                    <li>
                      <a class="btn m-btn m-infoBtn w-icon">EDIT DETAILS<span class="icon-edit"></span></a>
                    </li>
                    <li>
                      <a><span class="icon-delete delete"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="b-items__cars-one">
              <div class="b-items__cars-one-img">
                <img src="assets/media/237x202/mersList.jpg" alt='maxima'/>
                <span class="b-items__cars-one-img-type m-listing">NEW LISTING</span>
              </div>
              <div class="b-items__cars-one-info">
                <div class="b-items__cars-one-info-header s-lineDownLeft">
                  <h2>Toyota RAV4 Limited V6</h2>
                </div>
                <div class="row s-noRightMargin">
                  <div class="col-md-9 col-xs-12">
                    <p>In a pickup market gone fancy, the Silverado sticks to its basic-truck recipe. The steering is accurate, and the Silverado</p>
                    <div class="row m-smallPadding m-width">
                      <div class="col-xs-6">
                        <div class="row m-smallPadding">
                          <div class="col-xs-6">
                            <span class="b-items__cars-one-info-title">Body Style:</span>
                            <span class="b-items__cars-one-info-title">Mileage:</span>
                            <span class="b-items__cars-one-info-title">Transmission:</span>
                          </div>
                          <div class="col-xs-6">
                            <span class="b-items__cars-one-info-value">Convertible</span>
                            <span class="b-items__cars-one-info-value">10,000 KM</span>
                            <span class="b-items__cars-one-info-value">7-Speed Dual-Clutch</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="row m-smallPadding">
                          <div class="col-xs-4">
                            <span class="b-items__cars-one-info-title">Engine:</span>
                            <span class="b-items__cars-one-info-title">Color:</span>
                            <span class="b-items__cars-one-info-title">Specs:</span>
                          </div>
                          <div class="col-xs-8">
                            <span class="b-items__cars-one-info-value">16-valve</span>
                            <span class="b-items__cars-one-info-value">Black</span>
                            <span class="b-items__cars-one-info-value">5-Passenger, 2-Door</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <div class="b-items__cars-one-info-price">
                      <div class="pull-right">
                        <h3>Price:</h3>
                        <h4>$49,425</h4>
                      </div>
                      <a href="detail.html" class="btn m-btn">VIEW DETAILS<span class="fa fa-angle-right"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-right manage-actions">
                  <ul class="actions">
                    <li>
                      <a class="btn m-btn m-infoBtn w-icon">EDIT DETAILS<span class="icon-edit"></span></a>
                    </li>
                    <li>
                      <a><span class="icon-delete delete"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="b-items__cars-one">
              <div class="b-items__cars-one-img">
                <img src="assets/media/237x202/audiList.jpg" alt='audi'/>
                <span class="b-items__cars-one-img-type m-premium">PREMIUM</span>
              </div>
              <div class="b-items__cars-one-info">
                <div class="b-items__cars-one-info-header s-lineDownLeft">
                  <h2>Audi S4 3.0L V6 Turbo</h2>
                </div>
                <div class="row s-noRightMargin">
                  <div class="col-md-9 col-xs-12">
                    <p>In a pickup market gone fancy, the Silverado sticks to its basic-truck recipe. The steering is accurate, and the Silverado</p>
                    <div class="row m-smallPadding m-width">
                      <div class="col-xs-6">
                        <div class="row m-smallPadding">
                          <div class="col-xs-6">
                            <span class="b-items__cars-one-info-title">Body Style:</span>
                            <span class="b-items__cars-one-info-title">Mileage:</span>
                            <span class="b-items__cars-one-info-title">Transmission:</span>
                          </div>
                          <div class="col-xs-6">
                            <span class="b-items__cars-one-info-value">Sedan</span>
                            <span class="b-items__cars-one-info-value">35,000 KM</span>
                            <span class="b-items__cars-one-info-value">6-Speed Auto</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="row m-smallPadding">
                          <div class="col-xs-4">
                            <span class="b-items__cars-one-info-title">Engine:</span>
                            <span class="b-items__cars-one-info-title">Color:</span>
                            <span class="b-items__cars-one-info-title">Specs:</span>
                          </div>
                          <div class="col-xs-8">
                            <span class="b-items__cars-one-info-value">DOHC 24-valve V-6</span>
                            <span class="b-items__cars-one-info-value">White</span>
                            <span class="b-items__cars-one-info-value">2-Passenger, 2-Door</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <div class="b-items__cars-one-info-price">
                      <div class="pull-right">
                        <h3>Price:</h3>
                        <h4>$29,415</h4>
                      </div>
                      <a href="detail.html" class="btn m-btn">VIEW DETAILS<span class="fa fa-angle-right"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-right manage-actions">
                  <ul class="actions">
                    <li>
                      <a class="btn m-btn m-infoBtn w-icon">EDIT DETAILS<span class="icon-edit"></span></a>
                    </li>
                    <li>
                      <a><span class="icon-delete delete"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="b-items__cars-one">
              <div class="b-items__cars-one-img">
                <img src="assets/media/237x202/ferrariList.jpg" alt='ferrari'/>
              </div>
              <div class="b-items__cars-one-info">
                <div class="b-items__cars-one-info-header s-lineDownLeft">
                  <h2>Ferrari F430 483 HP</h2>
                </div>
                <div class="row s-noRightMargin">
                  <div class="col-md-9 col-xs-12">
                    <p>In a pickup market gone fancy, the Silverado sticks to its basic-truck recipe. The steering is accurate, and the Silverado</p>
                    <div class="row m-smallPadding m-width">
                      <div class="col-xs-6">
                        <div class="row m-smallPadding">
                          <div class="col-xs-6">
                            <span class="b-items__cars-one-info-title">Body Style:</span>
                            <span class="b-items__cars-one-info-title">Mileage:</span>
                            <span class="b-items__cars-one-info-title">Transmission:</span>
                          </div>
                          <div class="col-xs-6">
                            <span class="b-items__cars-one-info-value">Coupe</span>
                            <span class="b-items__cars-one-info-value">19,000 KM</span>
                            <span class="b-items__cars-one-info-value">6-Speed Manual</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="row m-smallPadding">
                          <div class="col-xs-4">
                            <span class="b-items__cars-one-info-title">Engine:</span>
                            <span class="b-items__cars-one-info-title">Color:</span>
                            <span class="b-items__cars-one-info-title">Specs:</span>
                          </div>
                          <div class="col-xs-8">
                            <span class="b-items__cars-one-info-value">DOHC inline-6</span>
                            <span class="b-items__cars-one-info-value">Black</span>
                            <span class="b-items__cars-one-info-value">4-Passenger, 2-Door</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <div class="b-items__cars-one-info-price">
                      <div class="pull-right">
                        <h3>Price:</h3>
                        <h4>$63,325</h4>
                      </div>
                      <a href="detail.html" class="btn m-btn">VIEW DETAILS<span class="fa fa-angle-right"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-right manage-actions">
                  <ul class="actions">
                    <li>
                      <a class="btn m-btn m-infoBtn w-icon">EDIT DETAILS<span class="icon-edit"></span></a>
                    </li>
                    <li>
                      <a><span class="icon-delete delete"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="b-items__cars-one">
              <div class="b-items__cars-one-img">
                <img src="assets/media/237x202/mersGL.jpg" alt='mers'/>
                <span class="b-items__cars-one-img-type m-leasing">LIASING AVAILABLE</span>
              </div>
              <div class="b-items__cars-one-info">
                <div class="b-items__cars-one-info-header s-lineDownLeft">
                  <h2>2012 Mercedes-Benz GL-Class GL550</h2>
                </div>
                <div class="row s-noRightMargin">
                  <div class="col-md-9 col-xs-12">
                    <p>In a pickup market gone fancy, the Silverado sticks to its basic-truck recipe. The steering is accurate, and the Silverado</p>
                    <div class="row m-smallPadding m-width">
                      <div class="col-xs-6">
                        <div class="row m-smallPadding">
                          <div class="col-xs-6">
                            <span class="b-items__cars-one-info-title">Body Style:</span>
                            <span class="b-items__cars-one-info-title">Mileage:</span>
                            <span class="b-items__cars-one-info-title">Transmission:</span>
                          </div>
                          <div class="col-xs-6">
                            <span class="b-items__cars-one-info-value">Convertible</span>
                            <span class="b-items__cars-one-info-value">10,000 KM</span>
                            <span class="b-items__cars-one-info-value">7-Speed Dual-Clutch</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="row m-smallPadding">
                          <div class="col-xs-4">
                            <span class="b-items__cars-one-info-title">Engine:</span>
                            <span class="b-items__cars-one-info-title">Color:</span>
                            <span class="b-items__cars-one-info-title">Specs:</span>
                          </div>
                          <div class="col-xs-8">
                            <span class="b-items__cars-one-info-value">16-valve</span>
                            <span class="b-items__cars-one-info-value">Black</span>
                            <span class="b-items__cars-one-info-value">5-Passenger, 2-Door</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <div class="b-items__cars-one-info-price">
                      <div class="pull-right">
                        <h3>Price:</h3>
                        <h4>$69,900</h4>
                      </div>
                      <a href="detail.html" class="btn m-btn">VIEW DETAILS<span class="fa fa-angle-right"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-right manage-actions">
                  <ul class="actions">
                    <li>
                      <a class="btn m-btn m-infoBtn w-icon">EDIT DETAILS<span class="icon-edit"></span></a>
                    </li>
                    <li>
                      <a><span class="icon-delete delete"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="b-items__pagination">
            <div class="b-items__pagination-main">
              <a href="#" class="m-left"><span class="fa fa-angle-left"></span></a>
              <span class="m-active"><a href="#">1</a></span>
              <span><a href="#">2</a></span>
              <span><a href="#">3</a></span>
              <span><a href="#">4</a></span>
              <a href="#" class="m-right"><span class="fa fa-angle-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
