<header class="b-contacts__form-header s-lineDownLeft">
  <h2 class="s-titleDet">{{'AUTH.FORGOT_PASSWORD' |translate}}</h2>
</header>
<form [formGroup]="forgotForm" (ngSubmit)="getNewPass(forgotForm.value)" id="forgotPasswordForm" novalidate="" class="s-form">
  <div class="text-field">
    <input toggleErrClass [control]="forgotForm.get('email')" [errClass]="'invalid'" formControlName="email" type="text" [placeholder]="'AUTH.EMAIL' | translate"
           name="email" id="forgot-password-email">
    <ng-container *ngFor="let error of validationMessages.email">
      <p class="error-message"
         *ngIf="this.forgotForm.get('email').hasError(error.type) && this.forgotForm.get('email').touched && this.forgotForm.get('email').dirty || this.forgotForm.get('email').pending">{{error.message | translate}}</p>
    </ng-container>
  </div>
  <div class="row form-links">
    <p class="form-hint">{{'AUTH.PASSWORD_SUBMIT_LINK_EMAIL' | translate}}</p>
  </div>
  <div class="row form-links form-align">
    <div class="col-lg-6">
      <a routerLink="/sign-in">{{'AUTH.BACK' | translate}}</a>
    </div>
    <div class="col-lg-6 text-right">
      <button type="submit" class="btn m-btn">{{'AUTH.SEND' | translate}}<span class="fa fa-angle-right"></span></button>
    </div>
  </div>
</form>
