<header class="b-contacts__form-header s-lineDownLeft">
  <h2 class="s-titleDet">Forgot password?</h2>
</header>
<form [formGroup]="forgotForm" (ngSubmit)="getNewPass(forgotForm.value)" id="forgotPasswordForm" novalidate="" class="s-form">
  <input toggleErrClass [control]="forgotForm.get('email')" [errClass]="'invalid'" formControlName="email" type="text" placeholder="EMAIL ADDRESS"
         name="email" id="forgot-password-email">
  <ng-container *ngFor="let error of validationMessages.email">
    <p class="error-message" *ngIf="this.forgotForm.get('email').hasError(error.type) && this.forgotForm.touched && this.forgotForm.dirty || this.forgotForm.pending">{{error.message}}</p>
  </ng-container>
  <div class="row form-links">
    <p class="form-hint">After you submit this form we'll send you an email with a link to update your password.</p>
  </div>
  <div class="row form-links form-align">
    <div class="col-lg-6">
      <a routerLink="/sign-in">Back</a>
    </div>
    <div class="col-lg-6 text-right">
      <button type="submit" class="btn m-btn">SEND<span class="fa fa-angle-right"></span></button>
    </div>
  </div>
</form>
